
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#links ul {
    list-style-type: none;
    padding: 0;
    background-color: cornflowerblue;
}
#links ul li{
    display: inline;
}

#links ul li a{
    color:rgb(25, 79, 195);
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .2s;
    
}

#links ul li a:hover{
    background-color: rgb(137, 172, 211);

}